<div class="navWrap">
  <div class="logoWrap">
    <img src="/img/logo.png" alt="Sun & Safe's logo">
    <p>Butlerbird</p>
  </div>
  <div>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/setup">Setup</a></li>
      <li><a href="/content">Content</a></li>
      <li><a href="/styling">Style</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
  </div>
</div>
