<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./style/header.css">
    <link rel="stylesheet" href="./style/body.css">
    <link rel="stylesheet" href="./style/content.css">
    <link rel="stylesheet" href="./style/admin.css">
    <link rel="stylesheet" href="./style/login.css">
      <link rel="stylesheet" href="./style/nav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css"/> <!-- 'classic' theme -->

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 

  </head>
  <body>

    <header>
      <%- include('./partials/header.ejs')  %>
    </header>



      <main>
        <%- body %>
      </main>
    </div>
    <footer>

    </footer>

  </body>
</html>
