<% if(messages.error){%>
  <%= messages.error %>
<% } %>
<div id="main">
  <div class="loginFormWrap">
  <div class="loginForm">
    <form class="" action="/login" method="post">
      <div>
          <input type="email" name="email" value="" placeholder="Email" required>
          <input type="password" name="password" value="" placeholder="Password" required>
      </div>
      <input class="loginSubmit" type="submit" name="" value="Login">
    </form>
  </div>
  </div>
</div>
