<div id="main">
  <form class="" action="/register" method="post">
    <div>
      <div class="hotelInfo">
        <input type="text" name="hotelname" value="" placeholder="Hotelname" required>
        <input type="text" name="address" value="" placeholder="Address" required>
        <input type="text" name="city" value="" placeholder="City" required>
        <input type="text" name="country" value="" placeholder="Country" required>
      </div>
      <div class="adminUser">
        <input type="text" name="name" value="" placeholder="Name" required>
        <input type="password" name="password" value="" placeholder="Password" required>
        <input type="email" name="email" value="" placeholder="Email" required>
        <input type="text" name="tlf" value="" placeholder="Tlf. with country nr." required>
      </div>
      <div class="payment">

      </div>
    </div>
    <input type="submit" name="" value="Register">
  </form>
</div>
